::selection {
  color: white;
  background: rgba(123, 97, 255, .99);
}

main {
    height: 100vh;
}

body {
	text-align: center;
	margin: 0;
	background: var(--background, #000);
	color: var(--foreground, #FFF);
	align-items: center;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    max-width: 120rem;
    height: calc(100vh - 1rem);
    margin-left: auto;
     margin-right: auto;
}

.bar { 
    height: 0.5rem;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--primary, #DCFF50);
}

header {
    display: flex;
    height: 4rem;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
}

footer {
    display: flex;
    height: 4rem;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
}

.main-content {
    display: flex;
    padding: 0rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;
    flex: 1 0 0;
    align-self: stretch;
}

.title {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    text-align: left;
    font-feature-settings: 'cv03' on, 'cv04' on, 'cv07' on, 'ss02' on, 'ss01' on;
    font-family: InterDisplay;
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 8rem */
    letter-spacing: -0.12rem;
}

.left-footer {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

.centre-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

.centre-footer-text {
    color: #FFF;    
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'cv03' on, 'cv04' on, 'cv07' on, 'ss02' on, 'ss01' on;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.dot {
    color: var(--primary, #DCFF50);
}

.right-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

.footer-text {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'cv03' on, 'cv04' on, 'cv07' on, 'ss02' on, 'ss01' on;
    
    /* Footer text */
    font-family: InterDisplay;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 1.25rem */
    letter-spacing: -0.00625rem;
}